:root {
    --black: #000000;
    --gray: #4E4E4E;
    --blue: #405D78;
    --heading: #152D41;
    --light-bg: #F1F1F1;
    --white: #ffffff;
    --accent: #E07A64;

}
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.16;
    color: var(--black);
    background-color: var(--light-bg);
}

.container {
    width: 960px;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

h1, h2 {
    color: var(--heading);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}

h1 {
    margin-bottom: 62px;
}

h2 {
    margin-bottom: 80px;
}

h1.white, h2.white {
    color: var(--white);
}

h3 {
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
}

section:not(#hero-section) {
    padding: 60px 0;
}


/*
----------------------- Header -----------------------
*/

#header {
    background-color: var(--gray);
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navigation {
    display: flex;
}

.navigation li:not(:last-child) {
    margin-right: 46px;
}

#header a {
    text-decoration: none;
    color: var(--white);
}

.logo  {
    font-weight: 700;
}

.kontakt {
    cursor: not-allowed;
}

/*
----------------------- Hero -----------------------
*/

#hero-section {
    background-image: url('images/tlo-sekcji.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    position: relative;
    z-index: 2;
}

.hero {
    padding-right: 40%;
}

.hero p {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 42px;
}
.hero a {
    border: 3px solid var(--white);
    color: var(--white);
    font-weight: 700;
    padding: 14px 58px;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s all;
}

.hero a:hover {
    background-color: var(--white);
    color: var(--black);
}

/*
----------------------- About -----------------------
*/
.our-team {
    display: flex;
    align-items: center;
    gap: 60px;
}

.our-team:not(:last-child) {
    margin-bottom: 60px;
}

.our-team:nth-of-type(even) {
    flex-direction: row-reverse;
}

.photo-one {
    background-image: url(images/person-1.jpg);
}
.photo-two {
    background-image: url(images/person-2.jpg);
}

.person {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    flex-shrink: 0;
}

/*
----------------------- Services -----------------------
*/

#services-section {
    background-color: var(--blue);
}

.services {
    width: 75%; /* (3 boxes + gaps) divided by container width */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 63px;
}

.services-single {
    background-color: var(--light-bg);
    text-align: center;
    height: 194px;
    padding: 75px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services-single:first-child::before {
    content: '';
    background-color: var(--accent);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    left: -11px;
}

.services-single:first-child::after {
    content: "(nowość)";
    font-size: 18px;
}

